@import url(https://fonts.bunny.net/css?family=albert-sans:300,400,500,800);

/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--main-font);
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary: #ffff;
  --secondary: #000000;
  --accent: #CE6C47;
  --main-font: 'Albert Sans', sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 500;
  white-space: nowrap;
  background-color: var(--accent);
  width: 80%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  padding-left: 1.5em;
  border-top-right-radius: 20px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-info {
  color: var(--accent);
  width: 30px;
  height: 30px;
  margin-top: 1.5em;
  margin-right: 1.5em;
}

#logo {
  width: 250px; /* Exemple : ajustez selon vos besoins */
  padding-left: 1em;
  padding-top: 1em;
}

.h1-container {
  display: flex;
  flex-direction: row;
}

.info-block {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  overflow-y: auto;
  z-index: 2000;
}


.info-block.show {
  right: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.info-footer img {
  opacity: 0.1;
  transform: rotate(-10deg) scale(1.2);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; /* Ajustez la taille selon vos besoins */
  pointer-events: none; 
}

.icon-close {
  margin-bottom: 2em;
  color: var(--accent);
  width: 30px;
  height: 30px;
}

.info-header h2 {
  color: var(--accent);
  margin-bottom: 1em;
}

.info-content p {
  margin-bottom: 0.5em;
}

.info-content a {
  color: var(--accent);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; /* Pour permettre le positionnement absolu des boutons */
}

.map-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
  width: 100%;
}

.search-container {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 4px;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

#locationInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#locationInput:focus {
  outline: none !important;
  border-color: var(--accent);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 100%;
  margin-bottom: 5px;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.button-container button,
.button-container input[type="text"] {
  margin-right: 5px;
}

.icon-geoloc {
  width: 24px;
  height: 24px;
}

#geoLocateButton {
  background-color: white;
  border: 1px solid white;
}

#locationInput {
  flex-grow: 1;
  margin: 0 50 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Tablettes et écrans plus grands */
@media (min-width: 481px) {
  .info-block {
    width: 70%;
  }
}

/* Ordinateurs de bureau et écrans larges */
@media (min-width: 769px) {
  /* Ajoutez des styles spécifiques pour les écrans larges si nécessaire */
  h1 {
    width: 50%; /* Exemple : réduction de la largeur pour tablettes */
  }

  .info-block {
    width: 50%;
  }

  .info-footer img {
    bottom: -100px;
  }

  .search-container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .search-container {
    width: 40%;
  }
}